* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    width: 100vw;
    height: 132px;
    flex-direction: column;

}

.main-nav {
    width: 100vw;
    height: 60px;
    display: block flex;
    background-color:#131921;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}




.logo {

    background: url('../img/amazon_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 70%;
    width: 10%;
    display: inline-block;
    margin-top: 14px;
    margin-left:-20px ;

    
   
    
}

.location {
    height: 100%;
    width:10% ;
    display: inline-block;
}



.all {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.search {

    height: 40px;
    display: inline-block;

}
.flag {
    display: inline-block;
    height: 10px;
    width: 10px;
}

.menu {
    width: 100vw;
    height: 39px;
    display: block;
    background-color: #232F3E;
    justify-content: space-evenly;
    align-items: center;
   
    
}



.menu .hamburger  {
   height: 1px ;
   width: 17px;
   background: white;
   padding: 1px 1px;
   margin: 4px;
   display: block;

   
}

.menu ul {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 7px;
    

    
    
}

.menu ul a li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    height: 100%;
    margin: 1px 1px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
}

.menu ul .covid li {
    justify-self: flex-end;
    transform: translateX(790px);
}

.menu ul a li:hover {
    border: 1px solid white;
}
.department-nav { 
    width: 100vw;
    height: 33px;
    display: block;
    background-color: #FAFAFA;
    border-bottom: 1px solid #e1e1e1;
}

.department-nav .department-list {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 7px;
    
} 

.department-nav .department-list a li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    height: 100%;
    margin: 1px 1px;
    color:#0f1111;
    padding: 5px 10px;
    font-size: 12px;
}


.department-nav .department-list a li:hover {
    color:#e47911;
    border-bottom: 1px solid #e47911;
}

.body-item {
    width: 78vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    margin-top: 15px;
    
}

.img-item {
    width: 50%;
    height: 90%;
    display: flex;
    margin-top: 15px;
    flex-direction: row-reverse;
    position: relative;
    border-bottom:1px solid #e1e1e1;

}

.big-img {
   height: 605px;
   width: 569px;
   background-image: url('../img/main-big.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain cover;
   align-self: flex-end;
   position: absolute;
   left: 12%;
   top: 2%;

}

.small-img {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.small-img img {
    margin-top: 2px;
    margin-left: 0;
    border: 1px solid #e1e1e1;
   
   
}

.small-img .i1 {
    position: absolute;
    top: 5%;
    left: 0px;  
}


.small-img .i2 {
    position: absolute;
    top: 13%;
    left: 0px;  
}

.small-img .i3 {
    position: absolute;
    top: 21%;
    left: 0px;  
}

.info-item {
    width: 30%;
    height: 92%;
    border-bottom:1px solid #e1e1e1;

}

.info-item h2 {
    margin-top:35px;
    font-weight: 400;
    line-height: 32px;
    font-size: 24px;
}

.info-item .link-info {
    color: #007185;
    font-size: 12px;
}
.info-item .link-info:hover {
    color: #e47911;
    cursor: pointer;
    text-decoration: underline;
}

.info-body .no-under {
    padding-left: 39px;
    font-size: 14px;

}

.info-body .no-under:hover {
    text-decoration: none;
}

.info-head {
    border-bottom:1px solid #e1e1e1;
}

.info-body {
    margin-top: 20px;
    color:#0f1111 ;
    font-size: 14px;
    line-height: 1.5;
}

.price {
    color: #b12755;
    font-size: 18px;

}

th {
    padding-top: 5px;
    text-align: left;
    font-size:14px ;
  }

  td {
      padding-left: 70px;
  }

  .info-table {
    margin-top: 3px;
    border-bottom:1px solid #e1e1e1; 
  }

.info-list {
      line-height:25px;
      padding-top: 5px;
      padding-left: 15px;
}

.info-about {
    padding-top: 15px;
}

.more-info p {
    margin-top: 10px;
    font-size: 14px;
}

.shipping-item {
    width: 20%;
    height: 100%;
}

.shipping-info {
    width: 70%;
    border: 1px solid #e1e1e1;
    height: auto;
    margin-left: 25px;
    margin-top: 45px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 15px;
    
}

.shipping-info button {
    display: block;
    width: 90%;
    height: 28px;
    margin-top: 3px;
}

.shipping-info .add-to {
    background-color: #F2C964;
    border: 0.5px solid black;
}

.shipping-info .buy {
    background-color:#E89834;
    border: 0.5px solid black;
}

.similar-item {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;

    

}


.img-similar {
    height: 170px;
    width: 180px;
    margin: 5px 30px;
    
}

.sim1 {
    background-image: url('https://static1.funidelia.com/301994-f6_big2/funko-pop-hlq-hnwqmym-endgame.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sim2 {
    background-image: url('https://ypk.cs4u.co.il/Images/9G/NKFT71/513/560X500_0_jpg?ud=637363862759770000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sim3 {
    background-image: url('https://m.media-amazon.com/images/I/51DEH88hJ0L._AC_SX679_.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sim4 {
    background-image: url('https://funpo.co.il/images/thumbs/0001683_funko-pop-i-am-iron-man-avengers-580-_625.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sim5 {
    background-image: url('https://sahek-ota.co.il/media/catalog/product/cache/10/image/620x/602f0fa2c1f0d1ba5e241f914e856ff9/p/o/pop_deadpool_-_sahek_ota.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sim6 {
    background-image: url('https://sahek-ota.co.il/media/catalog/product/cache/10/small_image/385x/602f0fa2c1f0d1ba5e241f914e856ff9/p/o/pop_651_dr_strange.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sim7 {
    background-image: url('https://wibow.co.il/wp-content/uploads/2019/11/1436_3266_5861_HP_Voldemort_hires.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.similar-page {
    position: absolute;
    right: 20px;
    top: -50px;
    font-size: 12px;
}

.similar-opt {
    position: absolute;
    left: 0px;
    top: -50px;
    font-size: 18px;
    color: #e47911;
    font-weight: bold;
}

.arrow {
    border: solid #232F3E;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} 

.arrow-btn {
   height: 40px;
   width: 45px; 
   border:1px solid gray;
   cursor: pointer;
   
   
}
